{% extends 'base.html' %}
{% block header %}
<table>
  <tr>
    <td>
      {% if g.user %}
      <a class="action" href="{{ url_for('client.create') }}" style="margin-left: -10px;">New Client</a>
      {% endif %}
    </td>
  </tr>
</table>
{% endblock %}
{% block content %}
<h1>Customer list</h1>
{% for i in clients_cars %}
<article class="post">
  <header>
    <div>
      <p>ID Client: {{i['id']}}</p>
      <p>Name: {{ i['name'] }}</p>
      <a href="{{ url_for('client.update', id=i['id'])}}">Edit Name</a>
      <a href="{{ url_for('client.view', name=i['name'], id=i['id'])}}">View Cars</a>
      <a href="{{ url_for('car.create', id=i['id'])}}">New Car</a>
    </div>
  </header>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}